<div>
  <form [formGroup]="formdata" (ngSubmit)="clickSubmit(formdata.value)">
Enter username <input type="text" placeholder="userName" name="uname" 
formControlName="uname">
<div *ngIf="formdata.controls['uname'].errors?.['required']">
  <p>It should not be empty </p>
</div>

<div *ngIf="formdata.controls['uname'].errors?.['minlength']">
  <p>It mut be 6 characters long </p>
</div>
<br>

Enter password <input type="password" placeholder="password" name="passwd" 
formControlName="passwd" >
<div *ngIf="formdata.controls['passwd'].errors?.['required']">
  <p>It cannot be empty</p>
</div>

<div *ngIf="formdata.controls['passwd'].errors?.['minlength']">
 <p> It mut be 8 characters long</p> 
</div>

</form>
     

</div>
<router-outlet></router-outlet>
